<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html><head><meta http-equiv="content-type" content="text/html;charset=utf-8"></meta></head><body>
<div>Синхронизация данных между информационными базами с конфигурациями "Плановое питание, ред. 2.0" (далее - Питание) и "Бухгалтерия государственного учреждения, ред. 2.0" (далее - БГУ) производится на уровне документов и справочной информации.</div>
<div>Приходно-расходные документы и справочная информация по продуктам создаются в информационной базе Питание и мигрируют в информационную базу БГУ. </div>
<div>При передаче документов автоматически переносится и информация о содержащихся в них продуктах.</div>
<div>Из БГУ в Питание могут быть переданы данные следующих справочников: Организации, Контрагенты, Договоры, Центры материальной ответственности (Склады). Для передачи этих сведений их регистрируют для отправки и затем выполняют Синхронизацию (которую можно инициировать и со стороны БГУ).</div>
<hr></hr><h3>Подготовка к синхронизации в БГУ</h3>
<div>
<ul><li>Ввести информацию об Организации, в рабочем плане счетов (учетная политика) ввести счета и коды, используемые для учета продуктов. При заполнении сведений об организации учесть, что сопоставление будет производиться по ИНН/КПП, а если они не указаны - по Наименованию организации.</li>
<li>Ввести в справочнике ЦМО элемент по продуктовому складу (или нескольким складам), в справочнике Контрагенты - по поставщикам продуктов</li>
<li>Включить возможность синхронизации: в подсистеме Администрирование - Синхронизация данных - установить флажок Синхронизация</li></ul></div>
<h3>Настройка синхронизации данных (в Питании)</h3>
<div>(на примере соединения с прямым подключением к файловой БГУ)</div>
<div>
<ul><li>В инфобазе Питание: Администрирование - Cинхронизация данных - включить флажок Синхронизация данных.</li>
<li>Нажать гиперссылку "Настройки синхронизации...", выбрать пункт Создать обмен с конфигурацией "Бухгалтерия государственного учреждения. Ред.2.0."</li>
<li>В открывшемся окне помощника выбрать пункт "Шаг 1. Создать новый обмен данными", нажать "Далее".</li>
<li>Выбрать каталог инфобазы БГУ, ввести имя пользователя и пароль (если он есть). Нажать "Далее"</li>
<li>При необходимости изменить параметры: даты начала выгрузки документов, режима передачи справочников. Нажать "Далее".</li>
<li>На последней странице мастера настройки - снимите флажок начальной синхронизации, если из БГУ планируется начальная загрузка данных об Организации, Контрагентах, Договорах и складах.</li></ul><div>Приведенный для прямого подключения порядок действий по смыслу (функционально) аналогичен другим способам передачи данных: через файл/каталог, ftp или веб-сервис.</div></div>
<h3>Продолжение настройки в БГУ</h3>
<div>
<ul><li>В инфобазе БГУ в подсистеме Администрирование – Синхронизация... - Настройка синхронизации данных.</li>
<li>В списке узлов обмена найти новый, созданный на предыдущем шаге, узел для обмена с Питание. Двойным щелчком мыши открыть форму узла обмена, указать ограничения для передачи данных в Питание - по Организации и Контрагентам, без такого ограничения обмен со стороны БГУ будет передавать все сведения, в т.ч. не относящиеся к Питанию. Для отбора Контрагентов установить флажок "Отбор по контрагентам", нажить гиперссылку  "Выбрать контрагентов", отметить записи поставщиков продуктов. По окончанию ввода данных нажать "Записать и закрыть".</li>
<li>Зарегистрировать для передачи в Питание (для начального заполнения): в форме списка узлов обмена нажать "Состав отправляемых данных" (команда доступна в подменю Еще, контекстном меню, командной панели), установить флажки на требующихся к регистрации видах справочников; нажать - Зарегистрировать - Все объекты выбранных типов. Если необходима "точечная" регистрация отдельных объектов к передаче в Питание, нажать Зарегистрировать - Одиночный объект. По окончании регистрации необходимых объектов закрыть форму регистрации</li>
<li>Нажать Синхронизировать - будет выполнена начальная синхронизация с переносом указанных справочных данных из БГУ в Питание</li></ul><div>Перенесенные в Питание записи при необходимости следует дополнить отсутствующими в БГУ сведениями.</div></div>
<h3>Периодический обмен данными</h3>
<div>
<ul><li>Синхронизация может выполняться по команде пользователя (Администрирование - Настройки синхронизации - Синхронизировать)</li>
<li>Или же обмен может выполняться автоматически по настроенному "Сценарию"(расписанию)</li></ul></div>
<div>Описание сценариев периодического обмена выполняется в форме "Настройки синхронизации..." по команде Настроить - Сценарии синхронизации.</div>
<h3>Использование собственных правил обмена</h3>
<div>
<div>Применяемый механизм "Библиотеки стандартных процедур" позволяет специалистам, сопровождающим систему, использовать собственные правила регистрации и конвертации.</div>
<div>Комплект загружаемых файлов правил обмена представляет собой zip-архив, включающий 3 xml-файла: ExchangeRules, RegistrationRules, CorrespondentExchangeRules.</div>
<div>Для загрузки собственного комплекта правил обмена: в форме "Настройки синхронизации..." (форме списка узлов плана обмена) нажмите Еще - Загрузить правила - и выберите загружаемый файл.</div>
<div><br></div>
<div>Выгрузить начальные версии файлов правил обмена можно из соответствующих макетов плана обмена ОбменПитаниеБГУ2 в Конфигураторе. </div></div>
<div><br></div>
<div>
<hr></hr><div>Дополнительную информацию о синхронизации данных Питание-БГУ, а также о возможных методиках можно получить в порядке технической поддержки ПП "1С:Плановое питание" по адресу 1cp@1cp.ru</div></div>
<div><br></div></body></html>